<div id="chat" class="fixed bottom-12 right-12 p-6 bg-white border border-gray-600 rounded-xl" style="max-width: 600px; bottom: 12px; right: 12px; position: fixed; background-color: white;">
    <div id="chat_icon">
        <button id="chat_open" onclick="open_chat()" class="w-[60px] flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-rose-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>                           
        </button>
    </div>
    <div id="chat_welcome" hidden>
        <input type="text" name="name" id="chat_name" class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100 border border-gray-600" placeholder="Your name...."/>
        <button id="chat_join" onclick="open_room()" class="py-2 px-6 rounded-xl text-white bg-rose-600">Join Chat</button>
    </div>

    <div id="chat_room" hidden>
        <div id="chat_log" style="margin-bottom: 1rem; padding: 1rem; background-color: #f3f4f6; border-radius: 1rem; height: 600px; overflow-y: scroll;">
            <p>welcome to our chat room! please type your message and wait for an agent to join...</p>
        </div>
        <input type="text" name="body" id="chat_message_input" style="width: 100%; margin-bottom: 1rem; padding: 1rem; background-color: #f3f4f6; border-radius: 1rem;" placeholder="Type your message...">
        <button id="chat_message_submit" style="padding: 1rem 1.5rem; background-color: #dc4f63; color: white; border-radius: 1rem;">Send</button>
    </div>
</div>
